<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Id:</b>
  <%= @item.id %>
</p>

<p>
  <b>Poster:</b>
  <%= @item.poster %>
</p>

<p>
  <b>Poster url:</b>
  <%= @item.poster_url %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
